* {
  font-family: "Sora", cursive;
  text-align: center;
}

body {
  margin: 0;
  margin-bottom: 100px; /* accounts for fixed ticker */
  padding: 0;
  overflow-y: scroll;
}

a.league-link {
  color: black;
  display: block;
  margin: 25px 0px;
}

ul#features {
  width: 300px;
  margin: auto;
  margin-bottom: 50px;
}

ul#features li {
  text-align: left;
  margin: 18px 0px;
}

button#create-league {
  margin-bottom: 40px;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 20px;
  transition-duration: 200ms;
}

button#create-league:hover {
  background-color: rgb(13, 76, 139);
  color: white;
  cursor: pointer;
}
