div#modal {
  border: 5px solid rgb(13, 76, 139);
  border-radius: 20px;
  z-index: 1;
  position: fixed;
  width: 60%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 200px;
  background: dodgerblue;
  padding: 15px;
  visibility: hidden;
  opacity: 0;
  transition: all 200ms ease-in;
}

div#modal p {
  color: white;
  font-size: 24px;
}

div#modal button {
  margin-top: 25px;
  background-color: rgb(13, 76, 139);
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  transition-duration: 200ms;
  border-radius: 10px;
}

div#modal button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

div#modal.visible {
  visibility: visible;
  opacity: 1;
}
