div.navbar {
  margin-bottom: 75px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid grey;
}

div.navbar a {
  color: black;
  font-family: "Sora", sans-serif;
  font-size: 28px;
  text-decoration: none;
  margin-left: 25px;
  margin-right: 25px;
}

div.navbar a:hover {
  text-decoration: underline;
}

div.navbar a:visited {
  text-decoration: none;
}
