#select-week {
  position: absolute;
  left: 10%;
}

div.week {
  margin: 50px 0px;
  display: none;
}

div.week h3 {
  font-size: 30px;
}

button.sim-week {
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 20px;
  transition-duration: 200ms;
}

button.sim-week:hover {
  background-color: rgb(13, 76, 139);
  color: white;
  cursor: pointer;
}

a.game {
  display: block;
  background-color: rgb(20, 20, 20);
  color: white;
  text-decoration: none;
  width: 45%;
  margin: 10px auto;
  padding: 8px;
  transition-duration: 100ms;
}

a.game:hover {
  background-color: dodgerblue;
  transform: scale(1.05);
}

span.left {
  float: left;
}

span.right {
  float: right;
}
