table {
  margin: 25px auto;
  border: 1px solid black;
  padding: 5px 10px;
}

td {
  padding: 5px 20px;
}

th {
  padding: 5px 20px;
}

p.week-label {
  font-size: 16px;
  font-style: italic;
  margin: 15px 0 5px 0;
}

a.game.win {
  background-color: rgb(21, 126, 21);
}

a.game.win:hover {
  background-color: rgb(21, 126, 21);
}

a.game.loss {
  background-color: rgb(219, 20, 20);
}

a.game.loss:hover {
  background-color: rgb(219, 20, 20);
}
