h2 {
  font-family: "Graduate", cursive;
  font-size: 45px;
}

div.teams-container {
  margin-bottom: 100px;
}

div.team {
  margin: 10px;
  width: 23%;
  display: inline-block;
}

img {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

img:hover {
  transform: scale(
    1.05
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@media only screen and (max-width: 1200px) {
  div.team {
    width: 30%;
  }
}

@media only screen and (max-width: 900px) {
  div.team {
    width: 45%;
  }
}
