table {
  margin: 25px auto;
  border: 1px solid black;
  padding: 5px 10px;
}

td {
  padding: 5px 20px;
}

th {
  padding: 5px 20px;
}

p.week-label {
  font-size: 16px;
  font-style: italic;
  margin: 15px 0 5px 0;
}
