h2 {
  font-size: 45px;
}

a {
  text-decoration: none;
}

div.teams-container {
  margin-bottom: 100px;
}

div.team {
  margin: 10px;
  width: 23%;
  display: inline-block;
}

img {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 8%;
}

img:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 1200px) {
  div.team {
    width: 30%;
  }
}

@media only screen and (max-width: 900px) {
  div.team {
    width: 45%;
  }
}
