<!DOCTYPE html>
<head>

</head>

<body>
    <div th:fragment="navbar" class="navbar">
        <a href="/">Home</a>
        <a th:href="@{${'/leagues/' + leagueId + '/games/new'}}">Play</a>
        <a th:href="@{${'/leagues/' + leagueId + '/teams/'}}">Teams</a>
        <a th:href="@{${'/leagues/' + leagueId + '/standings'}}">Standings</a>
        <a th:href="@{${'/leagues/' + leagueId + '/schedule'}}">Schedule</a>
        <a onclick="advanceWeek()">Advance Week</a>
        <script>
            function advanceWeek() {
                var request = new XMLHttpRequest();
                request.open("PUT", "/leagues/[[${leagueId}]]/advance-week", true);
                request.onreadystatechange = function () {
                    if (request.readyState === 4) { 
                        if(request.responseText != "") {
                            showModal(request.responseText)
                        } else {
                            window.location.reload() 
                        }
                    } 
                }
                request.send();
            }
            
            function showModal(text) {
                const modal = document.getElementById("modal");
                modal.classList.add("visible");

                const modalText = document.getElementById("modal-text");
                modalText.innerHTML = text;
            }
        </script>
    </div>

    
</body>