<!DOCTYPE html>
<head>

</head>

<body>
    <table th:fragment="passing-stats">
        <tr>
            <th>Opponent</th>
            <th>Completions</th>
            <th>Attempts</th>
            <th>Passing Yards</th>
            <th>Passing Touchdowns</th>
            <th>Passing Interceptions</th>
        </tr>
        <tr th:each="game : ${player.stats.gameStats}">
            <td th:if="${player.team.name != game.game.awayTeam.name}" th:text="${game.game.awayTeam.name}"></td>
            <td th:if="${player.team.name != game.game.homeTeam.name}" th:text="${game.game.homeTeam.name}"></td>
            <td th:text="${game.passCompletions}"></td>
            <td th:text="${game.passAttempts}"></td>
            <td th:text="${game.passYards}"></td>
            <td th:text="${game.passTds}"></td>
            <td th:text="${game.passInts}"></td>
        </tr>
        <tr>
            <td><b>Totals</b></td>
            <td th:text="${player.stats.passCompletions}"></td>
            <td th:text="${player.stats.passAttempts}"></td>
            <td th:text="${player.stats.passYards}"></td>
            <td th:text="${player.stats.passTds}"></td>
            <td th:text="${player.stats.passInts}"></td>
        </tr>
    </table>
    <table th:fragment="rushing-stats">
        <tr>
            <th>Opponent</th>
            <th>Rushing Attempts</th>
            <th>Rushing Yards</th>
            <th>Rushing Touchdowns</th>
        </tr>
        <tr th:each="game : ${player.stats.gameStats}">
            <td th:if="${player.team.name != game.game.awayTeam.name}" th:text="${game.game.awayTeam.name}"></td>
            <td th:if="${player.team.name != game.game.homeTeam.name}" th:text="${game.game.homeTeam.name}"></td>
            <td th:text="${game.runAttempts}"></td>
            <td th:text="${game.runYards}"></td>
            <td th:text="${game.runTds}"></td>
        </tr>
        <tr>
            <td><b>Totals</b></td>
            <td th:text="${player.stats.runAttempts}"></td>
            <td th:text="${player.stats.runYards}"></td>
            <td th:text="${player.stats.runTds}"></td>
        </tr>
    </table>
    <table th:fragment="receiving-stats">
        <tr>
            <th>Opponent</th>
            <th>Catches</th>
            <th>Receiving Yards</th>
            <th>Receiving Touchdowns</th>
        </tr>
        <tr th:each="game : ${player.stats.gameStats}">
            <td th:if="${player.team.name != game.game.awayTeam.name}" th:text="${game.game.awayTeam.name}"></td>
            <td th:if="${player.team.name != game.game.homeTeam.name}" th:text="${game.game.homeTeam.name}"></td>
            <td th:text="${game.receptions}"></td>
            <td th:text="${game.receivingYards}"></td>
            <td th:text="${game.receivingTds}"></td>
        </tr>
        <tr>
            <td><b>Totals</b></td>
            <td th:text="${player.stats.receptions}"></td>
            <td th:text="${player.stats.receivingYards}"></td>
            <td th:text="${player.stats.receivingTds}"></td>
        </tr>
    </table>
</body>