<!DOCTYPE html>
<head>

</head>

<body>
    <table th:fragment="team-stats" id="team-stats">
        <tr>
            <th>Team Stats</th> <th th:text="${game.awayTeam.city + ' ' + game.awayTeam.name}"></th> 
            <th th:text="${game.homeTeam.city + ' ' + game.homeTeam.name}"></th>
        </tr>
        <tr>
            <td>Total Plays</td> <td th:text="${game.teamStats.get(game.awayTeam).totalPlays}"></td>
            <td th:text="${game.teamStats.get(game.homeTeam).totalPlays}"></td>
        </tr>
        <tr>
            <td>Total Yards</td> <td th:text="${game.teamStats.get(game.awayTeam).totalYards}"></td>
            <td th:text="${game.teamStats.get(game.homeTeam).totalYards}"></td>
        </tr>
        <tr>
            <td>Passing Yards</td> <td th:text="${game.teamStats.get(game.awayTeam).passingYards}"></td>
            <td th:text="${game.teamStats.get(game.homeTeam).passingYards}"></td>
        </tr>
        <tr>
            <td>Rushing Yards</td> <td th:text="${game.teamStats.get(game.awayTeam).rushingYards}"></td>
            <td th:text="${game.teamStats.get(game.homeTeam).rushingYards}"></td>
        </tr>
        <tr>
            <td>First Downs</td> <td th:text="${game.teamStats.get(game.awayTeam).firstDowns}"></td>
            <td th:text="${game.teamStats.get(game.homeTeam).firstDowns}"></td>
        </tr>
        <tr>
            <td>3rd Down Conversions</td> <td th:text="${game.teamStats.get(game.awayTeam).thirdDownConversions + ' of ' + 
            game.teamStats.get(game.awayTeam).thirdDownConversionAttempts + ' (' + 
            game.teamStats.get(game.awayTeam).thirdDownConversionPercentage + '%)'}"></td>
            <td th:text="${game.teamStats.get(game.homeTeam).thirdDownConversions + ' of ' + 
            game.teamStats.get(game.homeTeam).thirdDownConversionAttempts + ' (' + 
            game.teamStats.get(game.homeTeam).thirdDownConversionPercentage + '%)'}"></td>
        </tr>
        <tr>
            <td>Punts</td> <td th:text="${game.teamStats.get(game.awayTeam).punts}"></td>
            <td th:text="${game.teamStats.get(game.homeTeam).punts}"></td>
        </tr>
    </table>

</body>