<!DOCTYPE html>

<head>
    <title>Java Football</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">
    <link th:href="@{/stylesheets/base.css}" rel="stylesheet" />
    <link th:href="@{/stylesheets/navbar.css}" rel="stylesheet" />
    <link th:href="@{/stylesheets/game.css}" rel="stylesheet" />
</head>

<body>
    <div th:replace="fragments/navbar.html :: navbar"></div>

    <div th:replace="fragments/scoreboard.html :: scoreboard"></div>

    <p th:text="${game.playDescription}"></p>

    <div class="team">
        <h1 th:text="${game.awayTeam.name}"></h1>
        <img th:if="${possession == 'away'}" src="../static/images/football.png" th:src="@{/images/football.png}" width="100px" alt="football"/>
    </div>
    
    <div class="team">
        <h1 th:text="${game.homeTeam.name}"></h1>
        <img th:if="${possession == 'home'}" src="../static/images/football.png" th:src="@{/images/football.png}" width="100px" alt="football"/>
    </div>

    <p th:text="${'Quarter: ' + game.currentQuarter}"></p>
    <p th:text="${game.timeLeftQuarterString}"></p>
    <p th:text="${game.currentDownString + ' & ' + game.yardsToGoString}"></p>
    <p th:text="${game.ballPositionString}"></p>
    <button onclick="simPlay()">Sim Play</button>
    <button onclick="simQuarter()">Sim Quarter</button>
    <button onclick="simGame()">Sim Game</button>
    
    <div th:replace="fragments/teamstats.html :: team-stats"></div>

    <div th:replace="fragments/playerstats.html :: player-stats"></div>
    
    <script>
        function simPlay() {
            var request = new XMLHttpRequest();
            request.open("PUT", window.location.href, true);
            request.onreadystatechange = function () {
                location.reload();
            }
            request.send();
        }

        function simQuarter() {
            var request = new XMLHttpRequest();
            request.open("PUT", window.location.href + "/quarter", true);
            request.onreadystatechange = function () {
                location.reload();
            }
            request.send();
        }

        function simGame() {
            var request = new XMLHttpRequest();
            request.open("PUT", window.location.href + "/game", true);
            request.onreadystatechange = function () {
                location.reload();
            }
            request.send();
        }
    </script>

</body>