<!DOCTYPE html>

<head>
    <title>Java Football</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link th:href="@{/stylesheets/base.css}" rel="stylesheet" />
    <link th:href="@{/stylesheets/navbar.css}" rel="stylesheet" />
    <link th:href="@{/stylesheets/game.css}" rel="stylesheet" />
</head>

<body>
    <div th:replace="fragments/navbar.html :: navbar"></div>

    <p th:text="${game.playDescription}"></p>

    <div class="team">
        <h1 th:text="${game.awayTeam.name}"></h1>
        <p th:text="${'Total Yards: ' + game.stats.get(game.awayTeam).totalYards}"></p>
        <p th:text="${'Passing Yards: ' + game.stats.get(game.awayTeam).passingYards}"></p>
        <p th:text="${'Rushing Yards: ' + game.stats.get(game.awayTeam).rushingYards}"></p>
        <p th:text="${'Third Down Conversions: ' + game.stats.get(game.awayTeam).thirdDownConversions + ' of ' + 
            game.stats.get(game.awayTeam).thirdDownConversionAttempts + ' (' + 
            game.stats.get(game.awayTeam).thirdDownConversionPercentage + '%)' }"></p>
        <p th:text="${'Punts: ' + game.stats.get(game.awayTeam).punts}"></p>
        <img th:if="${possession == 'away'}" src="../static/images/football.png" th:src="@{/images/football.png}" width="100px" alt="football"/>
    </div>
    
    <div class="team">
        <h1 th:text="${game.homeTeam.name}"></h1>
        <p th:text="${'Total Yards: ' + game.stats.get(game.homeTeam).totalYards}"></p>
        <p th:text="${'Passing Yards: ' + game.stats.get(game.homeTeam).passingYards}"></p>
        <p th:text="${'Rushing Yards: ' + game.stats.get(game.homeTeam).rushingYards}"></p>
        <p th:text="${'Third Down Conversions: ' + game.stats.get(game.homeTeam).thirdDownConversions + ' of ' + 
            game.stats.get(game.homeTeam).thirdDownConversionAttempts + ' (' + 
            game.stats.get(game.homeTeam).thirdDownConversionPercentage + '%)' }"></p>
        <p th:text="${'Punts: ' + game.stats.get(game.homeTeam).punts}"></p>
        <img th:if="${possession == 'home'}" src="../static/images/football.png" th:src="@{/images/football.png}" width="100px" alt="football"/>
    </div>

    <p th:text="${'Quarter: ' + game.currentQuarter}"></p>
    <p th:text="${game.timeLeftQuarterString}"></p>
    <p th:text="${game.currentDownString + ' & ' + game.yardsToGoString}"></p>
    <p th:text="${game.ballPositionString}"></p>
    <button onclick="simPlay()">Sim Play</button>
    <button onclick="simQuarter()">Sim Quarter</button>
    <button onclick="simGame()">Sim Game</button>

    <table id="scoreboard">
        <tr>
            <th></th> <th>Q1</th> <th>Q2</th> <th>Q3</th> <th>Q4</th> <th>Total</th>
        </tr>
            <td th:text="${game.awayTeam.name}"></td>
            <td th:text="${game.stats.get(game.awayTeam).Q1Points}"></td>
            <td th:text="${game.stats.get(game.awayTeam).Q2Points}"></td>
            <td th:text="${game.stats.get(game.awayTeam).Q3Points}"></td>
            <td th:text="${game.stats.get(game.awayTeam).Q4Points}"></td>
            <td th:text="${game.stats.get(game.awayTeam).totalPoints}"></td>
        <tr>
            <td th:text="${game.homeTeam.name}"></td>
            <td th:text="${game.stats.get(game.homeTeam).Q1Points}"></td>
            <td th:text="${game.stats.get(game.homeTeam).Q2Points}"></td>
            <td th:text="${game.stats.get(game.homeTeam).Q3Points}"></td>
            <td th:text="${game.stats.get(game.homeTeam).Q4Points}"></td>
            <td th:text="${game.stats.get(game.homeTeam).totalPoints}"></td>
        </tr>
    </table>

    <script>
        function simPlay() {
            var request = new XMLHttpRequest();
            request.open("PUT", window.location.href, true);
            request.onreadystatechange = function () {
                location.reload();
            }
            request.send();
        }

        function simQuarter() {
            var request = new XMLHttpRequest();
            request.open("PUT", window.location.href + "/quarter", true);
            request.onreadystatechange = function () {
                location.reload();
            }
            request.send();
        }

        function simGame() {
            var request = new XMLHttpRequest();
            request.open("PUT", window.location.href + "/game", true);
            request.onreadystatechange = function () {
                location.reload();
            }
            request.send();
        }
    </script>

</body>