<!DOCTYPE html>

<head>
    <title>Java Football</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link th:href="@{/stylesheets/base.css}" rel="stylesheet" />
    <link th:href="@{/stylesheets/navbar.css}" rel="stylesheet" />
    <link th:href="@{/stylesheets/game.css}" rel="stylesheet" />
</head>

<body>
    <div th:replace="fragments/navbar.html :: navbar"></div>

    <div class="team">
        <h1 th:text="${game.awayTeam.name}"></h1>
        <p th:text="${'Overall Rating: ' + game.awayTeam.overallRating}"></p>
    </div>
    
    <div class="team">
        <h1 th:text="${game.homeTeam.name}"></h1>
        <p th:text="${'Overall Rating: ' + game.homeTeam.overallRating}"></p>
    </div>

    <button onclick="startGame()">Start Game</button>


    <script>
        function startGame() {
            var request = new XMLHttpRequest();
            request.open("PUT", window.location.href, true);
            request.onreadystatechange = function () {
                location.reload();
            }
            request.send();
        }
    </script>

</body>