<!DOCTYPE html>

<head>
    <title>Java Football</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link th:href="@{/stylesheets/base.css}" rel="stylesheet" />
    <link th:href="@{/stylesheets/navbar.css}" rel="stylesheet" />
    <link th:href="@{/stylesheets/game.css}" rel="stylesheet" />
</head>

<body>
    <div th:replace="fragments/navbar.html :: navbar"></div>

    <div class="team">
        <h1 th:text="${game.awayTeam.name}"></h1>
        <p th:text="${'Total Yards: ' + game.stats.get(game.awayTeam).totalYards}"></p>
        <p th:text="${'Passing Yards: ' + game.stats.get(game.awayTeam).passingYards}"></p>
        <p th:text="${'Rushing Yards: ' + game.stats.get(game.awayTeam).rushingYards}"></p>
        <p th:text="${'Punts: ' + game.stats.get(game.awayTeam).punts}"></p>
    </div>
    
    <div class="team">
        <h1 th:text="${game.homeTeam.name}"></h1>
        <p th:text="${'Total Yards: ' + game.stats.get(game.homeTeam).totalYards}"></p>
        <p th:text="${'Passing Yards: ' + game.stats.get(game.homeTeam).passingYards}"></p>
        <p th:text="${'Rushing Yards: ' + game.stats.get(game.homeTeam).rushingYards}"></p>
        <p th:text="${'Punts: ' + game.stats.get(game.homeTeam).punts}"></p>
    </div>

    <h1>Game over!</h1>

    <table id="scoreboard">
        <tr>
            <th></th> <th>Q1</th> <th>Q2</th> <th>Q3</th> <th>Q4</th> <th>Total</th>
        </tr>
            <td th:text="${game.awayTeam.name}"></td>
            <td th:text="${game.stats.get(game.awayTeam).Q1Points}"></td>
            <td th:text="${game.stats.get(game.awayTeam).Q2Points}"></td>
            <td th:text="${game.stats.get(game.awayTeam).Q3Points}"></td>
            <td th:text="${game.stats.get(game.awayTeam).Q4Points}"></td>
            <td th:text="${game.stats.get(game.awayTeam).totalPoints}"></td>
        <tr>
            <td th:text="${game.homeTeam.name}"></td>
            <td th:text="${game.stats.get(game.homeTeam).Q1Points}"></td>
            <td th:text="${game.stats.get(game.homeTeam).Q2Points}"></td>
            <td th:text="${game.stats.get(game.homeTeam).Q3Points}"></td>
            <td th:text="${game.stats.get(game.homeTeam).Q4Points}"></td>
            <td th:text="${game.stats.get(game.homeTeam).totalPoints}"></td>
        </tr>
    </table>

</body>