<!DOCTYPE html>

<head>
    <title>Java Football</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="../static/stylesheets/landing.css" th:href="@{/stylesheets/landing.css}" rel="stylesheet" />
</head>

<body>
  <h1>Welcome to Java Football!</h1>
  <body>
        <p>
            Currently, the game is very early in development. However, you can take a peak at the teams and their randomly-generated rosters!
        </p>
        <a href="/teams">
            <button>View Teams</button>
        </a>
  </body>

</body>