<!DOCTYPE html>

<head>
    <title>Java Football</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">
    <link th:href="@{/stylesheets/base.css}" rel="stylesheet" />
    <link th:href="@{/stylesheets/navbar.css}" rel="stylesheet" />
</head>

<body>
    <h1>Welcome to Java Football!</h1>
    <p>The game is very early in development. Currently, you can: </p>
    <ul id="features">
        <li>Check out the teams and their randomly-generated rosters</li>
        <li>Simulate an entire season</li>
        <li>Simulate games between teams of your choice</li>
        <li>See how the teams stack up on the standings page</li>
    </ul>
    <button id="create-league" onclick="createLeague()">Create a League</button>
    
    <script>
        var leagues = JSON.parse(sessionStorage.getItem("leagues"));
        if(leagues != null) {
            document.body.innerHTML = document.body.innerHTML + "<h2>Your Leagues</h2>";
            document.body.innerHTML = document.body.innerHTML + "<div id='leagues'></div>";
            for(let i = 0; i < leagues.length; i++) {
                let a = document.createElement("a")
                a.href="/leagues/" + leagues[i][1] + "/standings"
                a.innerHTML = leagues[i][0]
                a.classList += "league-link"
                document.getElementById("leagues").appendChild(a);
            }
        } 
    </script>

    <script>
        function createLeague() {
            let leagueName = prompt("Please enter a name for your league: ");
            if(leagueName != null && leagueName != "") {

                var request = new XMLHttpRequest();
                request.open('POST', "/leagues", true);

                request.onreadystatechange = function () {
                        if (request.readyState === 4) {
                            console.log(request.status);
                            console.log(request.responseText);
                            
                            var leagues = JSON.parse(sessionStorage.getItem("leagues"));
                            if(leagues == null) {
                                leagues = []
                            }

                            league = [] // holds league name and id
                            league.push(leagueName)
                            league.push(request.responseText)
                            leagues.push(league)

                            sessionStorage.leagues = JSON.stringify(leagues);

                            window.location.href="/leagues/" + request.responseText + "/standings";
                        }
                };
                request.send()
            }
        }
    </script>
</body>