<!DOCTYPE html>

<head>
    <title>Java Football</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">
    <link th:href="@{/stylesheets/base.css}" rel="stylesheet" />
    <link th:href="@{/stylesheets/navbar.css}" rel="stylesheet" />
    <link th:href="@{/stylesheets/schedule.css}" rel="stylesheet" />
    <link th:href="@{/stylesheets/ticker.css}" rel="stylesheet" />
    <link th:href="@{/stylesheets/modal.css}" rel="stylesheet" />
</head>

<body>
    <div th:replace="fragments/navbar.html :: navbar"></div>
    <div th:replace="fragments/modal.html :: modal"></div>

    <select id="select-week" onchange="toggleWeek()">
        <option selected disabled value="">Select Week</option>
    </select>


    <div th:id="${'week-' + (status.index + 1)}" class="week" th:each="week,status : ${league.weeks}">
        <button th:if="${league.currentWeek == (status.index + 1)}" class="sim-week" th:attr="onclick=|simWeek('${status.index + 1}')|" >Simulate Week</button>
        
        <th:block th:switch="${(status.index + 1)}">
            <h3 th:case="19">League Championship</h3>
            <h3 th:case="18">Conference Championships</h3>
            <h3 th:case="17">Conference Semifinals</h3>
            <h3 th:case="*" th:text="${'Week ' + (status.index + 1)}"></h3>
        </th:block>

        <a th:each="game : ${week.games}" th:href="@{${'/leagues/' + leagueId + '/games/' + game.id}}" class="game">
            <span class="left" th:text="${game.teamStats.get(game.awayTeam).totalPoints}"></span>
            <span th:if="${game.week < 17}" th:text="${game.awayTeam.name + ' @ ' + game.homeTeam.name}"></span>
            <span th:if="${game.week > 16}" th:text="${'#' + game.awayTeam.playoffSeed + ' ' + game.awayTeam.name + ' @ #' + game.homeTeam.playoffSeed + ' ' + game.homeTeam.name}"></span>
            <span th:if="${game.overtime}"> (OT)</span>
            <span class="right" th:text="${game.teamStats.get(game.homeTeam).totalPoints}"></span>
        </a>
    </div>
    <div th:replace="fragments/ticker.html :: ticker"></div>
    
    <script>
        // populate combo box
        var selectWeek = document.getElementById("select-week")
        for (var i = 1; i<=19; i++){
            var option = document.createElement('option');
            option.value = i;
            switch(i) {
                case 19:
                option.innerHTML = "League Championship";
                break;
                case 18:
                option.innerHTML = "Conference Championships";
                break;
                case 17:
                option.innerHTML = "Conference Semifinals";
                break;
                default:
                option.innerHTML = i;
                break;
            }
            selectWeek.appendChild(option)
        }

        // display selected week
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        var activeWeek
        if(urlParams.get("week") != null) {
            activeWeek = document.getElementById("week-" + urlParams.get("week"))
        } else {
            activeWeek = document.getElementById("week-[[${league.currentWeek}]]")
        }
        activeWeek.style.display = "block"

        function toggleWeek() {  
            window.location.search="?week="+selectWeek.value
        }

        function simWeek(week) {
            var request = new XMLHttpRequest();
            var url = "/leagues/" + '[[${leagueId}]]' + "/weeks/" + week;
            request.open("PUT", url, true);
            request.onreadystatechange = function () {
                location.reload();
            }
            request.send();
        }
    </script>
</body>