<!DOCTYPE html>

<head>
    <title>Java Football</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">
    <link th:href="@{/stylesheets/base.css}" rel="stylesheet" />
    <link th:href="@{/stylesheets/navbar.css}" rel="stylesheet" />
    <link th:href="@{/stylesheets/team.css}" rel="stylesheet" />
</head>

<body>
    <div th:replace="fragments/navbar.html :: navbar"></div>
    <div th:each="week,status : ${league.weeks}">
        <h3 th:text="${'Week ' + (status.index + 1)}"></h3>
        <a th:each="game : ${week.games}" th:href="@{${'/leagues/' + leagueId + '/games/' + game.id}}">
            <p th:text="${game.awayTeam.name + ' vs ' + game.homeTeam.name}"></p>
        </a>
    </div>
</body>