<!DOCTYPE html>

<head>
    <title>Java Football</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">
    <link th:href="@{/stylesheets/base.css}" rel="stylesheet" />
    <link th:href="@{/stylesheets/navbar.css}" rel="stylesheet" />
    <link th:href="@{/stylesheets/schedule.css}" rel="stylesheet" />
</head>

<body>
    <div th:replace="fragments/navbar.html :: navbar"></div>

    <select id="select-week" onchange="toggleWeek()">
        <option selected disabled value="">Select Week</option>
    </select>


    <div th:id="${'week-' + (status.index + 1)}" class="week" th:each="week,status : ${league.weeks}">
        <button class="sim-week" th:attr="onclick=|simWeek('${status.index + 1}')|" >Sim Week</button>
        <h3 th:text="${'Week ' + (status.index + 1)}"></h3>
        <a th:each="game : ${week.games}" th:href="@{${'/leagues/' + leagueId + '/games/' + game.id}}" class="game">
            <span class="left" th:text="${game.teamStats.get(game.awayTeam).totalPoints}"></span>
            <span th:text="${game.homeTeam.name + ' @ ' + game.awayTeam.name}"></span>
            <span class="right" th:text="${game.teamStats.get(game.homeTeam).totalPoints}"></span>
        </a>
    </div>

    
    <script>
        // populate combo box
        var selectWeek = document.getElementById("select-week")
        for (var i = 1; i<=16; i++){
            var option = document.createElement('option');
            option.value = i;
            option.innerHTML = i;
            selectWeek.appendChild(option)
        }

        // display selected week
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        var activeWeek
        if(urlParams.get("week") != null) {
            activeWeek = document.getElementById("week-" + urlParams.get("week"))
        } else {
            activeWeek = document.getElementById("week-1")
        }
        activeWeek.style.display = "block"

        function toggleWeek() {  
            window.location.search="?week="+selectWeek.value
        }

        function simWeek(week) {
            var request = new XMLHttpRequest();
            var url = "/leagues/" + '[[${leagueId}]]' + "/weeks/" + week;
            request.open("PUT", url, true);
            request.onreadystatechange = function () {
                location.reload();
            }
            request.send();
        }
    </script>
</body>