<!DOCTYPE html>

<head>
    <title>Java Football</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link th:href="@{/stylesheets/base.css}" rel="stylesheet" />
    <link th:href="@{/stylesheets/navbar.css}" rel="stylesheet" />
    <link th:href="@{/stylesheets/teams.css}" rel="stylesheet" />
</head>

<body>
    <div th:replace="fragments/navbar.html :: navbar"></div>
    <div th:each="conference : ${conferences}">
        <h2 th:text="${conference.name}"></h2>
        <div class="teams-container">
            <a th:each="team : ${conference.teams}" th:href="@{/teams/} + ${team.name}">
                <div class="team">
                    <img th:src="@{${'/images/logos/' + team.name + '.png'}}" width="250px">
                </div>
            </a>
        </div>
    </div>
</body>