<!DOCTYPE html>

<head>
    <title>Java Football</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">
    <link th:href="@{/stylesheets/base.css}" rel="stylesheet" />
    <link th:href="@{/stylesheets/navbar.css}" rel="stylesheet" />
    <link th:href="@{/stylesheets/team.css}" rel="stylesheet" />
   
</head>

<body>
    <div th:replace="fragments/navbar.html :: navbar"></div>
    <h1 th:text="${team.city + ' ' + team.name}"></h1>
    <i><p th:text="${team.conference.name}"></p></i>

    <table>
        <tr>
            <th>Overall</th> <th>Offense</th> <th>Defense</th> <th>Special Teams</th>
        </tr>
        <tr>  
            <td th:text="${team.overallRating}"></td>
            <td th:text="${team.offenseRating}"></td>
            <td th:text="${team.defenseRating}"></td>
            <td th:text="${team.specialTeamsRating}"></td>
        </tr>
    </table>

    <table>
        <tr>
            <th>Wins</th> <th>Losses</th> <th>Ties</th>
        </tr>
        <tr>
            <td th:text="${team.record.wins}"></td>
            <td th:text="${team.record.losses}"></td>
            <td th:text="${team.record.ties}"></td>
        </tr>
    </table>
  
    <a th:href="@{/teams/} + ${team.name} + '/depthchart?position=QB'">
        <button>View Depth Chart</button>
    </a>
    <select onChange="filterBy(this);">
        <option selected disabled>Filter By Position</option>
        <option value="all">All</option>
        <option th:each="position : ${positions}" th:value="${position}" th:text="${position}"></option>
    </select>
    <select onChange="sortBy(this);">
        <option selected disabled>Sort By</option>
        <option value="default">Default</option>
        <option value="ratingAscending">Rating (Ascending)</option>
        <option value="ratingDescending">Rating (Descending)</option>
        <option value="lastNameAscending">Last Name (Ascending)</option>
        <option value="lastNameDescending">Last Name (Descending)</option>
    </select>
    <table>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Rating</th>
        </tr>
        <tr th:each="player : ${roster}">
            <td th:text="${player.firstName + ' ' + player.lastName}"></td>
            <td th:text="${player.position}"></td>
            <td th:text="${player.height}"></td>
            <td th:text="${player.weight}"></td>
            <td th:text="${player.ratings.get('Overall')}"></td>
        </tr>
    </table>

    <script>
        function filterBy(selectBox) {
            let url = new URL(window.location.href);
            let params = new URLSearchParams(url.search);
            if(selectBox.options[selectBox.selectedIndex].value == "all") {
                params.delete("filterBy");
            } else {
                params.set('filterBy', selectBox.options[selectBox.selectedIndex].value);
            }
            window.location.href = location.pathname + "?" + params.toString();
        }

        function sortBy(selectBox) {
            let url = new URL(window.location.href);
            let params = new URLSearchParams(url.search);
            if(selectBox.options[selectBox.selectedIndex].value == "default") {
                params.delete("sortBy");
            } else {
                params.set('sortBy', selectBox.options[selectBox.selectedIndex].value);
            }
            window.location.href = location.pathname + "?" + params.toString();
        }
    </script>

</body>