<!DOCTYPE html>

<head>
    <title>Java Football</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="../static/stylesheets/team.css" th:href="@{/stylesheets/team.css}" rel="stylesheet" />
</head>

<body>
    <a href="/teams">
        <button>Go Back to Teams</button>
    </a>
    <a th:href="@{/teams/} + ${team.name} + '/depthchart?position=QB'">
        <button>View Depth Chart</button>
    </a>
    <select onChange="filterBy(this);">
        <option selected disabled>Filter By Position</option>
        <option value="all">All</option>
        <option th:each="position : ${positions}" th:value="${position}" th:text="${position}"></option>
    </select>
    <select onChange="sortBy(this);">
        <option selected disabled>Sort By</option>
        <option value="default">Default</option>
        <option value="ratingAscending">Rating (Ascending)</option>
        <option value="ratingDescending">Rating (Descending)</option>
        <option value="lastNameAscending">Last Name (Ascending)</option>
        <option value="lastNameDescending">Last Name (Descending)</option>
    </select>
    <h1 th:text="${team.city + ' ' + team.name}"></h1>
    <h2 th:text="${'Overall Rating: ' + team.overallRating}"></h2>
    <h2 th:text="${'Offense Rating: ' + team.offenseRating}"></h2>
    <h2 th:text="${'Defense Rating: ' + team.defenseRating}"></h2>
    <h2 th:text="${'Special Teams Rating: ' + team.specialTeamsRating}"></h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Rating</th>
        </tr>
        <tr th:each="player : ${roster}">
            <td th:text="${player.firstName + ' ' + player.lastName}"></td>
            <td th:text="${player.position}"></td>
            <td th:text="${player.height}"></td>
            <td th:text="${player.weight}"></td>
            <td th:text="${player.ratings.get('Overall')}"></td>
        </tr>
    </table>

    <script>
        function filterBy(selectBox) {
            let url = new URL(window.location.href);
            let params = new URLSearchParams(url.search);
            if(selectBox.options[selectBox.selectedIndex].value == "all") {
                params.delete("filterBy");
            } else {
                params.set('filterBy', selectBox.options[selectBox.selectedIndex].value);
            }
            window.location.href = location.pathname + "?" + params.toString();
        }

        function sortBy(selectBox) {
            let url = new URL(window.location.href);
            let params = new URLSearchParams(url.search);
            if(selectBox.options[selectBox.selectedIndex].value == "default") {
                params.delete("sortBy");
            } else {
                params.set('sortBy', selectBox.options[selectBox.selectedIndex].value);
            }
            window.location.href = location.pathname + "?" + params.toString();
        }
    </script>

</body>